#btnGenerate {
    margin-left: 15px;
}

.InputCode {
    text-align: left;
    height: auto;
    margin-left: 2%;
    width: 96%;
}

.CodeMirror {
    border-radius: 10px;
}

.tglButton {
    margin-left: 1%;
}

.ResultCode {
    margin-top: 15px;
    text-align: left;
    height: auto;
    margin-left: 1%;
    width: 96%;
}

.CodeMirror {
    resize: both;
    min-width: 200px;
    min-height: 100px;
}

.btnConnect {
    height: 30px;
    /* margin-left: 5px; */
    margin-bottom: 5px;
    padding-top: 0;
}

.txtArea {
    margin-left: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding-left: 15px;
}

.homeConnectionContainer .connectionComponentBTN {
    padding-top: 0;
    height: 30px;
}

.homeConnectionContainer .checker {
    color: white;
    /* margin-left: 25%; */
}

.homeConnectionContainer .connectionComponent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 25%; */
}

.homeConnectionContainer .connectionComponentContext {
    width: 100%;
    margin-right: auto;
    /* margin-left: 130%; */
    margin-top: 2%;
}

.ButtonsDiv {
    margin-top: -2%;
    width: fit-content;
    margin-left: 25%;
}

.ProjectNameInput {
    padding-left: 10px;
}

.ModelCode {
    margin-top: 1%;
    margin-left: 1%;
}